body {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    font-family: Arial;
}

.box {
    background: white;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px;
}

button {
    padding: 10px;
    background: #4facfe;
    color: white;
    border: none;
}
